@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: none;
}

.cursor {
    @apply fixed w-2 h-2 select-none pointer-events-none rounded-full scale-[0.8] z-[99];
    background: #333;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

.cursor::before {
    @apply content-[""] w-full h-full fixed block bg-center bg-no-repeat bg-cover opacity-0 rounded-[100%] left-0 top-0;
}

.cursor-follower {
    @apply fixed w-10 h-10 select-none pointer-events-none translate-x-1 translate-y-1 rounded-[100%] z-[99];
    background: rgba(0, 0, 0, 0.1);
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.slider p{
    @apply text-[15rem] text-black m-0 font-medium;
}

section {
    height: 100vh;
}
